* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
}

body {
    padding: 12px;
}

h1 {
    color: #121212;
    margin-bottom: 12px;
}

p {
    columns: #121212;
}